<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal Details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css">
</head>
<header>
    <h1>venue details</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<div class="row1">
    <div class="row1content" th:if="${animal}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/animaldetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/animaldetails/' + ${next}}">&gt;</a>
        </div>
        <div>
            <h2 th:text="|animal: ${animal.name}|">animal: onbekend</h2>
        </div>
        <div>
            <p th:text="|City: ${animal.getCity()}|">0</p>
            <p th:text="|Bio: ${animal.getBio()}|">no</p>
            <div th:if="${animal.getParties().size()}>0">
                <h2>going to</h2>
                <ul class="partyDetail">
                    <div th:each="party: ${animal.getParties()}">
                        <li>
                            <a class="buttonLook mediumButton" th:href="@{'/partydetails/'+${party.getId()}}">
                                <span th:text="${party.getName()}">party name</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row1content" th:unless="${animal}">
        <p>no animal was chosen</p>
    </div>
</div>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>