<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css">
</head>
<header>
    <h1>Artist details</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<div class="row1">
    <div class="row1content" th:if="${artist}">
        <div>
            <h2 th:text="${artist.getArtistName()}">Naam artist</h2>
        </div>
        <div>
            <div class="info">Info : </div>
            <p>Info: <a th:href="${artist.getLinkMoreInfo()}">website</a></p>
            <p th:text="|Bio: ${artist.getBio()}|"></p>
            <p th:text="|Bio: ${artist.getGenre()}|"></p>
            <p th:text="|Bio: ${artist.getPortfolio()}|"></p>
    </div>
    <div class="row1content" th:unless="${artist}">
        <p>no artist was chosen</p>
    </div>
</div>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>