<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Homepagina</title>
</head>
<header>
    <h1>Artists</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<h2>artists</h2>
<aside>
    <div class="verticalmargin">
        <span class="generalinfo" th:text="|${nrArtists} artists found|">0 artists found</span>
    </div>
    <div class="filters" th:if="${showFilter}">
        <div class="verticalmargin">
            <a th:href="@{/artistlist}" class="buttonLook filterButton">-</a>
        </div>
        <form>
            <div class="onefilter">
                <input type="submit" value="search" class="buttonLook">
            </div>
            <div class="onefilter">
                    <label for="keyword" class="filtername">keyword</label>
                    <input type="text" id="keyword" name="keyword" th:value="${keyword}">
            </div>
        </form>
    </div>
    <div class="filters" th:unless="${showFilter}">
        <div class="verticalmargin">
            <a th:href="@{/artistlist/filter}" class="buttonLook filterButton">+</a>
        </div>
    </div>
</aside>
<ul>
    <div th:each="artist: ${artists}">
        <li>
            <a class="buttonLook mediumButton" th:href="@{|/artistdetails/${artist.id}|}">
                <span th:text="${artist.getArtistName()}">venue name</span>
            </a>
        </li>
    </div>
</ul>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>