<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Client</title>
</head>
<header>
    <nav>
        <h1>Client</h1>
        <a th:href="@{/home}">Homepage</a>
        <a th:href="@{/about}">about</a>
        <a th:href="@{/pay}">pay</a>
        <a th:href="@{/venuelist}">venues</a>
        <a th:href="@{/client}">newClient</a>
        <a th:href="@{/secretCode}">showSecretCode</a>
    </nav>
</header>
<body>
<p th:text="|${middag} ${gender} ${client.getClientName()} |">Goedemorgen</p>
</body>
</html>