<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>partydetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css">
</head>
<header>
    <h1>venue details</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<div class="row1">
    <div class="row1content" th:if="${party}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/partydetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/partydetails/' + ${next}}">&gt;</a>
        </div>
        <div>
            <h2 th:text="${party.name}">party: onbekend</h2>
            <h3 th:text="${party.date}">geen datum</h3>
        </div>
        <div>
            <span th:text="|where: ${party.venue.venueName} (${party.venue.city}, ${party.venue.distanceFromPublicTransportInKm} km van openbaar vervoer) |">venue</span>
            <a th:href="@{'/venuedetails/' + ${party.venue.id}}">&#128279;</a>
            <p th:if="${party.priceInEur}" th:text="|Price: ${party.pricePresaleInEur} &euro; (presale) / ${party.priceInEur} &euro;||"></p>
            <p th:unless="${party.priceInEur}">gratis</p>
            <p th:text="|Doors: ${party.doors}|">bio</p>
            <div th:if="${!party.extraInfo.trim().equals('')}">
                <p th:text="|Extra info: ${party.extraInfo}|">no</p>
            </div>
            <div class="partydetailsInfo">
                <div th:if="${party.getArtists().size()}>0">
                    <h2>line up:</h2>
                    <ul class="list partyDetail">
                        <div th:each="artist: ${party.getArtists()}">
                            <li>
                                <a class="buttonLook mediumButton" th:href="@{'/artistdetails/'+${artist.getId()}}">
                                    <span th:text="${artist.getArtistName()}">artist name</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div th:if="${party.getAnimals().size()}>0">
                    <h2>who goes?</h2>
                    <ul class="list partyDetail">
                        <div th:each="animal: ${party.getAnimals()}">
                            <li>
                                <a class="buttonLook mediumButton" th:href="@{'/animaldetails/'+${animal.getId()}}">
                                    <span th:text="${animal.getName()}">artist name</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row1content" th:unless="${party}">
        <p>no party was chosen</p>
    </div>
</div>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>