<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Code</title>
</head>
<header>
    <h1>Code</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<p th:text="${notFound}"></p>
<p th:text="|${gender} ${client.getClientName()}, uw secretcode is ${code} |"></p>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>