<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Homepagina</title>
</head>
<header>
    <h1>Venues</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<ul>
    <li><a th:href="@{/venuedetails/1}">venue 1</a></li>
    <li><a th:href="@{/venuedetails/2}">venue 2</a></li>
    <li><a th:href="@{/venuedetails/3}">venue 3</a></li>
</ul>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>