<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Homepagina</title>
</head>
<body>
<header>
    <h1>Let's Party!</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<aside>
    <p th:text="${count} + ' venues'">aantal</p>
    <div th:if="${showFilter}">
        <a th:href="@{/venuelist}">-</a>
        <form>
            <div >
                <input type="submit" value="search">
            </div>
            <h3>capacity</h3>
            <div class="onefilter">
                <label for="minCapacity" class="filtername">min</label>
                <input type="number" id="minCapacity" name="minimumCapacity" th:value="${minCapacity}" step="50"> <span>persons</span>
            </div>
            <div class="onefilter">
                <label for="maxCapacity" class="filtername">max</label>
                <input type="number" id="maxCapacity" name="maximumCapacity" th:value="${maxCapacity}" step="50"> <span>persons</span>
            </div>
        </form>
    </div>
    <div th:unless="${showFilter}">
        <a th:href="@{/venuelist/filter}">+</a>
    </div>
</aside>
<h2>Venues</h2>
<ul>
    <div th:each="venue: ${venues}">
        <li>
            <a class="buttonLook mediumButton" th:href="@{|/venuedetails/${venue.id}|}">
                <span th:text="${venue.getVenueName()}">venue name</span>
                <br>
                <i th:text="'Capacity: '+${venue.getCapacity()}">Capacity</i>
            </a>
        </li>
    </div>
</ul>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>