<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css">
</head>
<header>
    <h1>venue details</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<div class="row1">
    <div class="row1content" th:if="${venue}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${next}}">&gt;</a>
        </div>
        <div>
            <h2 th:text="${venue.getVenueName()}">Naam venue</h2>
        </div>
        <div>
            <p>Info: <a th:href="${venue.getLinkMoreInfo()}">website</a></p>
            <p th:text="|Capacity: ${venue.getCapacity()}|"></p>
            <div class="row1content"><p th:text="|Food provided?: ${venue.isFoodProvided() ? 'yes' : 'no'}"></p></div>
            <div class="row1content"><p th:text="|Indoor?: ${venue.isIndoor() ? 'yes' : 'no'}"></p></div>
            <div class="row1content"><p th:text="|Outdoor?: ${venue.isOutdoor() ? 'yes' : 'no'}"></p></div>
            <div class="row1content"><p th:text="|Free parking Available?: ${venue.isFreeParkingAvailable() ? 'yes' : 'no'}"></p></div>
            <p th:text="|Distance Public Transport in km: ${venue.getDistanceFromPublicTransportInKm()}|"></p>
            <p th:text="|City: ${venue.getCity()}|"></p>
            <h2 th:text="|parties in de ${venue.venueName}|">parties</h2>
            <div class="row1content" th:each="party, status: ${parties}">
                <a class="buttonLook mediumButton" th:href="@{'/partydetails/' + ${party.id}}">
                    <span th:text="${party.getName()}">Naam party</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row1content" th:unless="${venue}">
        <p>no venue was chosen</p>
    </div>
</div>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>