<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css">
</head>
<header>
    <h1>venue details</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<div class="row1">
    <div class="row1content" th:if="${venue}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${next}}">&gt;</a>
        </div>
        <div>
            <h2 th:text="${venue.getVenueName()}">Naam venue</h2>
        </div>
        <div>
            <div class="info">Info : </div>
            <p>Info: <a th:href="${venue.getLinkMoreInfo()}">website</a></p>
            <p th:text="|Capacity: ${venue.getCapacity()}|"></p>
            <div class="row1content" th:if="${venue.getfoodProvided()}">
                <p>Food provided?: yes</p>
            </div>
            <div class="row1content" th:unless="${venue.getfoodProvided()}">
                <p>Food provided?: no</p>
            </div>
            <div class="row1content" th:if="${venue.getindoor()}">
                <p>Indoor?: yes</p>
            </div>
            <div class="row1content" th:unless="${venue.getindoor()}">
                <p>Indoor?: no</p>
            </div>
            <div class="row1content" th:if="${venue.getoutdoor()}">
                <p>Outdoor?: yes</p>
            </div>
            <div class="row1content" th:unless="${venue.getoutdoor()}">
                <p>Outdoor?: no</p>
            </div>
            <div class="row1content" th:if="${venue.getfreeParkingAvailable()}">
                <p>Free parking Available?: yes</p>
            </div>
            <div class="row1content" th:unless="${venue.getfreeParkingAvailable()}">
                <p>Free parking Available?: no</p>
            </div>
            <p th:text="|Distance Public Transport in km: ${venue.getDistanceFromPublicTransportInKm()}|"></p>
            <p th:text="|City: ${venue.getCity()}|"></p>
        </div>
    </div>
    <div class="row1content" th:unless="${venue}">
        <p>no venue was chosen</p>
    </div>
</div>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>