<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="../static/css/party.css"/>
    <title>Homepagina</title>
</head>
<header>
    <h1>Venues</h1>
    <nav th:insert="fragments/header :: navbar">Hier komt de header</nav>
</header>
<body>
<!--dit is mogelijk maar bij extra uitbreidingen krijg je een probleem dus kun je beter een parameter meegeven en gebruiken.
<a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('true')} ? 'adminclass'" th:href="@{|/venuelist/outdoor/${true}|}">
    <span>yes</span>
</a>
<a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('false')} ? 'adminclass'" th:href="@{|/venuelist/outdoor/${false}|}">
    <span>no</span>
</a>
<a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('venuelist')} ? 'adminclass'" th:href="@{/venuelist}">
    <span>all</span>
</a>-->

<div>
    <p class="textbeforebutton">outdoor: </p>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('venuelist')} ? 'adminclass'" th:href="@{/venuelist}">
        <span>all</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('outdoor/true')} ? 'adminclass'" th:href="@{|/venuelist/outdoor/${true}|}">
        <span>yes</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('outdoor/false')} ? 'adminclass'" th:href="@{|/venuelist/outdoor/${false}|}">
        <span>no</span>
    </a>
</div>
<div>
    <p class="textbeforebutton">indoor: </p>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('venuelist')} ? 'adminclass'" th:href="@{/venuelist}">
        <span>all</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('indoor/true')} ? 'adminclass'" th:href="@{|/venuelist/indoor/${true}|}">
        <span>yes</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('indoor/false')} ? 'adminclass'" th:href="@{|/venuelist/indoor/${false}|}">
        <span>no</span>
    </a>
</div>
<div>
    <p class="textbeforebutton">size: </p>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('venuelist')} ? 'adminclass'" th:href="@{/venuelist}">
        <span>all</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('size/S')} ? 'adminclass'" th:href="@{|/venuelist/size/S|}">
        <span>S</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('size/M')} ? 'adminclass'" th:href="@{|/venuelist/size/M|}">
        <span>M</span>
    </a>
    <a class="baseclass" th:classappend="${#httpServletRequest.requestURI.endsWith('size/L')} ? 'adminclass'" th:href="@{|/venuelist/size/L|}">
        <span>L</span>
    </a>
</div>
<ul>
    <div th:each="venue: ${venues}">
        <li>
            <a class="buttonLook mediumButton" th:href="@{|/venuedetails/${venue.id}|}">
                <span th:text="${venue.venueName}">venue name</span>
            </a>
        </li>
    </div>
</ul>
</body>
<footer th:insert="fragments/footer :: footer">Hier komt de footer</footer>
</html>